<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="videoController">
  <ion-side-menus>
  <ion-side-menu-content>
  <ion-header-bar class="bar bar-header bar-assertive main_red">
    <button class="icon ion-navicon button button-clear" ng-click="toggleLeft()"></button>
    <h1 class="title"><img class="title-image" src="img/logo.png" alt="logo"></h1>
      <div class="buttons">
        <button class="button button-clear icon ion-gear-a"></button>
      </div>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <ion-scroll direction="x" class="wide-as-needed">
      <a class="header">PREMIERES</a>
      <a class="header">HOT THIS WEEK</a>
      <a class="header">TOP 20
      <a class="header">SPOTLIGHT</a>
      <a class="header">LIVE CONCERT</a>
      <a class="header">TOP ARTISTS</a>
      <a class="header">TOP PLAYLISTS</a>
    </a></ion-scroll>
  </ion-header-bar>
   <ion-content class="has-subheader">
      <ion-refresher on-refresh="doRefresh()"></ion-refresher>
      <div class="list card" ng-repeat="item in videos">
        <div class="item item-image">
          <img ng-src="{{item.image}}">
          <div class="btn_play">
            <button class="button button-clear">
              <img src="img/btn_play.png" alt="play" ng-click="playVideo()">
           </button>
        </div>
        </div>
        <div class="item card-info">
          <h3 class="overflow ellipsis">{{ item.band }}</h3>
          <h4>{{ item.title }}</h4>
        </div>
        <span class=" item-text-wrap btn-block">
          <a href="#" class=" button button-clear circle">
            <i class=" icon dark ion-ios-heart circle-icon">
            </i>
          </a>
          <a href="#" class=" button button-clear">
             <i class="icon dark ion-plus circle-icon">
             </i>
          </a>
        </span>
        <div class="view_box">
          <h5><i class="icon icon-left ion-eye"></i>{{item.views}} views</h5>
        </div>
        <div class="premiere_flag">
           <h2>PREMIERE</h2>
        </div>

      </div>
      <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="2%">
      </ion-infinite-scroll>
    </ion-content>
  </ion-side-menu-content>
    <ion-side-menu side="left">
      <ion-list>
        <ion-item>Home</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>Mizikjams TV</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>Browse</ion-item>
      </ion-list>
       <ion-list>
        <ion-item>Settings</ion-item>
      </ion-list>
   </ion-side-menu>
  </ion-side-menus>

  </body>
</html>
